In [ ]:
import sys
from pathlib import Path

In [ ]:
sys.path.insert(0, str(Path().cwd().parent))
%load_ext autoreload
%autoreload 2

In [ ]:
import pandas as pd

In [ ]:
DTYPE_SMP = {
    "NumAto": "category",
    "NumFistel": "category",
    "NumServico": "category",
    "NomeEntidade": "category",
    "SiglaUf": "category",
    "NumEstacao": "string",
    "NomeMunicipio": "category",
    "CodMunicipio": "category",
    "DataValidade": "category",
    "FreqInicialMHz": "category",
    "FreqCentralMHz": "category",
    "FreqFinalMHz": "category",
    "Latitude": "float",
    "Longitude": "float",
    "DesignacaoEmissao": "category",
    "PotenciaTransmissorWatts": "float",
    "CodTipoAntena": "category",
    "Polarizacao": "category",
    "RaioAntena": "float",
    "GanhoAntena": "float",
    "FrenteCostaAntena": "float",
    "AnguloMeiaPotenciaAntena": "float",
    "AnguloElevacao": "float",
    "Azimute": "float",
    "AlturaAntena": "float",
    "PerdasAcessorias": "float",
}

In [ ]:
df = pd.read_parquet(Path.cwd().parent / 'dados' / 'smp_formated.parquet.gzip')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307166 entries, 0 to 307165
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   NumAto                    307166 non-null  string
 1   DataValidade              307166 non-null  string
 2   NumFistel                 307166 non-null  string
 3   NomeEntidade              307166 non-null  string
 4   NumEstacao                307166 non-null  string
 5   Latitude                  307166 non-null  string
 6   Longitude                 307166 non-null  string
 7   FreqInicialMHz            303121 non-null  string
 8   FreqFinalMHz              303121 non-null  string
 9   FreqCentralMHz            307166 non-null  string
 10  CodMunicipio              307166 non-null  string
 11  SiglaUf                   307166 non-null  string
 12  PotenciaTransmissorWatts  307083 non-null  string
 13  DesignacaoEmissao         307166 non-null  string
 14  CodTipoAntena             307166 non-null  string
 15  Polarizacao               307166 non-null  string
 16  RaioAntena                38943 non-null   string
 17  GanhoAntena               302192 non-null  string
 18  FrenteCostaAntena         301711 non-null  string
 19  AnguloMeiaPotenciaAntena  301101 non-null  string
 20  AnguloElevacao            304049 non-null  string
 21  Azimute                   306267 non-null  string
 22  AlturaAntena              306438 non-null  string
 23  PerdasAcessorias          220585 non-null  string
 24  NomeMunicipio             72771 non-null   string
dtypes: string(25)
memory usage: 58.6 MB

In [ ]:
gb = df.groupby(['SiglaUf', 'CodMunicipio', 'NumFistel', 'FreqCentralMHz', 'DesignacaoEmissao']).size().to_frame(name = 'Número de Estações').sort_values('Número de Estações', ascending = False)
gb

                                                                   Número de Estações
SiglaUf CodMunicipio NumFistel   FreqCentralMHz DesignacaoEmissao
RJ      3304557      50409146285 2680           20M0G7W                          3727
                                 2160           5M00G7W                          3532
SP      3550308      50409105090 885            5M00G7W                          2594
RJ      3304557      50409146285 1867.5         200KG7W                          1972
                                 1862.5         200KG7W                          1970
...                                                                               ...
SP      3518305      50409146447 874.5          20M0G7W                             1
RJ      3305109      50409307637 2640           200KG7W                             1
                                 1875           20M0G7W                             1
RS      4309506      50409314250 1827.5         200KG7W                             1
MG      3117876      50409428698 1867.5         5M00G7W                             1

[62334 rows x 1 columns]

In [ ]:
gb = gb.astype('category')

In [ ]:
gb.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 62334 entries, ('RJ', '3304557', '50409146285', '2680', '20M0G7W') to ('MG', '3117876', '50409428698', '1867.5', '5M00G7W')
Data columns (total 1 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Número de Estações  62334 non-null  category
dtypes: category(1)
memory usage: 536.4+ KB

In [ ]:
gb.to_excel(Path.cwd().parent / 'sumarização_smp.xlsx')